.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.mainConainer {
    width: 100%;
    height: 93vh;
}
.topMenu {
    height: 40px;
    margin-left: 15px;
}
.content {
    height: 90%;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    /* */overflow: auto;
}
.btnMenu {
    background-color: white;
    border: none;
    border-radius: 10px 10px 0 0;
    font-size: 120%;
    height: 100%;
    width: 20%;

}
.divBtn {
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
}
.buscador {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    width: 25%;
    height: 40px;
    background-color: #ACA4CC;
    padding: 10px;
    /*#c4d5e7*/
}

.inputBusqueda {
    width: 90%;
    height: 100%;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    color: #FFFFFF;
}
.inputBusqueda:hover
{
    outline-style: none;
}
.list
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79%;
}
.btnLupa {
    border: none;
    background: none;
}
.searcher {
    display: flex;
    justify-content: space-between;
    /*padding: 0 15px;*/
}
.btnNuevo {
    border-radius: 8px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0 10px;
    align-items: center;
    background-color: #5F658E;
    color: #FFFFFF;
}

/*Slide button CSS*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ACA4CC;
    -webkit-transition: .4s;
    transition: .4s;
    width: 50px;
    height: 25px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #5F658E;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.switches {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px 0;
}
    .switches span {
        margin-right: 10px;
    }
    .switches .datetime {
        border: none;
        font-size: 16px;
        color: #141C6C;
        outline: none;
        
        width: 100px;
        margin-right: 15px;
    }
    .switches .guion {
        margin: 0 15px 0 0;
        font-size: 20px;
    }
@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
