.buscador[b-4jihwlmx48] {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 20%;
    height: 5vh;
    background-color: #c4d5e7;
    /*#c4d5e7*/
}
.inputBusqueda[b-4jihwlmx48] {
    width: 90%;
    height: 100%;
    border: none;
    background-color: #c4d5e7;
}
.btnLupa[b-4jihwlmx48]
{
    border: none;
    background: none;
}