.buscador[b-4jihwlmx48] {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 20%;
    height: 5vh;
    background-color: #ACA4CC;
}
.inputBusqueda[b-4jihwlmx48] {
    width: 90%;
    height: 100%;
    border: none;
    background-color: #ACA4CC;
    border-radius: 10px;
    outline: none;
    padding:15px;
}
.btnLupa[b-4jihwlmx48]
{
    border: none;
    background: none;
}

