.page[b-6i9p38o976] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6i9p38o976] {
    flex: 1;
}

.mainConainer[b-6i9p38o976] {
    width: 100%;
    height: 93vh;
}
.topMenu[b-6i9p38o976]{
    height: 8%;
}
.content[b-6i9p38o976] {
    height: 90%;
    background-color: #FFFFFF;
    border-radius: 0 10px 10px 10px;
}
.btnMenu[b-6i9p38o976] {
    background-color: white;
    border: none;
    border-radius: 10px 10px 0 0;
    font-size: 120%;
    height: 100%;
    width: 20%;

}
.divBtn[b-6i9p38o976] {
    display: flex;
    justify-content: space-between;
}
/*.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}*/
/*.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }*/
@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-6i9p38o976] {
        display: none;
    }

    .top-row.auth[b-6i9p38o976] {
        justify-content: space-between;
    }

    .top-row[b-6i9p38o976]  a, .top-row[b-6i9p38o976]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6i9p38o976] {
        flex-direction: row;
    }

    .sidebar[b-6i9p38o976] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6i9p38o976] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-6i9p38o976]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-6i9p38o976], article[b-6i9p38o976] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
