.page[b-6i9p38o976] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6i9p38o976] {
    flex: 1;
}

.mainConainer[b-6i9p38o976] {
    width: 100%;
    height: 93vh;
}
.topMenu[b-6i9p38o976] {
    height: 40px;
    margin-left: 15px;
}
.content[b-6i9p38o976] {
    height: 90%;
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    /* */overflow: auto;
}
.btnMenu[b-6i9p38o976] {
    background-color: white;
    border: none;
    border-radius: 10px 10px 0 0;
    font-size: 120%;
    height: 100%;
    width: 20%;

}
.divBtn[b-6i9p38o976] {
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
}
.buscador[b-6i9p38o976] {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    width: 25%;
    height: 40px;
    background-color: #ACA4CC;
    padding: 10px;
    /*#c4d5e7*/
}

.inputBusqueda[b-6i9p38o976] {
    width: 90%;
    height: 100%;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    color: #FFFFFF;
}
.inputBusqueda:hover[b-6i9p38o976]
{
    outline-style: none;
}
.list[b-6i9p38o976]
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79%;
}
.btnLupa[b-6i9p38o976] {
    border: none;
    background: none;
}
.searcher[b-6i9p38o976] {
    display: flex;
    justify-content: space-between;
    /*padding: 0 15px;*/
}
.btnNuevo[b-6i9p38o976] {
    border-radius: 8px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0 10px;
    align-items: center;
    background-color: #5F658E;
    color: #FFFFFF;
}

/*Slide button CSS*/
/* The switch - the box around the slider */
.switch[b-6i9p38o976] {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input[b-6i9p38o976] {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider[b-6i9p38o976] {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ACA4CC;
    -webkit-transition: .4s;
    transition: .4s;
    width: 50px;
    height: 25px;
}

    .slider[b-6i9p38o976]:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider[b-6i9p38o976] {
    background-color: #5F658E;
}

input:focus + .slider[b-6i9p38o976] {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider[b-6i9p38o976]:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round[b-6i9p38o976] {
    border-radius: 34px;
}

    .slider.round[b-6i9p38o976]:before {
        border-radius: 50%;
    }


.switches[b-6i9p38o976] {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 15px 0;
}
    .switches span[b-6i9p38o976] {
        margin-right: 10px;
    }
@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-6i9p38o976] {
        display: none;
    }

    .top-row.auth[b-6i9p38o976] {
        justify-content: space-between;
    }

    .top-row[b-6i9p38o976]  a, .top-row[b-6i9p38o976]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6i9p38o976] {
        flex-direction: row;
    }

    .sidebar[b-6i9p38o976] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6i9p38o976] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-6i9p38o976]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-6i9p38o976], article[b-6i9p38o976] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
